%h1 A Line

%dl.attributes
  %dt Cities
  %dd= "From #{line.city} to #{line.other_city}"

= render :partial => 'technical_component_instances/technical_component_instance', :locals => {:instance => line}
