- title "About"
%h2 What is Threephase?

%p
  Threephase is a browser-based multiplayer game that simulates parts of the
  electric power system. Threephase is capable of being expanded to cover many
  other areas of the power system, some of which will be discussed.

%h2 Who is behind it?

%p
  Threephase is the result of a Master's thesis project at Carnegie Mellon
  University's Information Networking Institute. The project began in September
  2010.

%p
  The project is led by
  %a{:href => "http://christopherpeplin.com"} Christopher Peplin
  , a Master's candidiate at the INI.

%p
  The project is advised by
  %a{:href => "http://www.epp.cmu.edu/people/bios/apt.html"} Professor Jay Apt
  and
  %A{:href => "http://www.ece.cmu.edu/directory/details/4617"} Professor Gabriela Hug.
