%h1 A Storage Device

%a{:href => edit_storaage_device_url(storage_device)} Edit

%dl
  %dt City
  %dd= storage_device.city

= render :partial => 'technical_component_instances/technical_component_instance', :locals => {:instance => generator}
