%h1 A Generator

%a{:href => edit_generator_url(generator)} Edit

%dl
  %dt City
  %dd= generator.city

= render :partial => 'technical_component_instances/technical_component_instance', :locals => {:instance => generator}

%h2 Bids

= render generator.bids

%h2 Workforce Contracts

= render generator.contracts
