/* Base styles */

body {
  font-family: "vera-sans-1","vera-sans-2", "Helvetica Neue", Arial, sans-serif;
  background-color: #FFF;
  color: #000;
}

a img {
  border: 0;
}

a {
 text-decoration: none;
 color: #000;
}

a:hover {
  text-decoration: underline;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5 {
  font-family: "anivers-1","anivers-2",Verdana,Arial,Helvetica,Geneva,SunSans-Regular,sans-serif;
  margin: .1em 0 .2em 0;
  font-weight: bold;
  color: #000;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.1em;
}

dt {
  font-weight: bold;
}

p {
  font-size: 0.875em;
}

p, dd, address {
  margin: 0 0 15px 0;
}

address span {
  display: block;
}

dd {
  padding-left: 30px;
}

ul {
  list-style: none;
  margin: 2px;
  font-size: 0.875em;
}

ul.menu {
  text-align: center;
  margin: 2px 0 2px 0;
}

li {
  padding: 3px 0;
}

ul.menu li {
  padding: 5px;
  display: inline;
}

.menu a {
  font-weight: bold;
}

/* Site sections */
#wrapper {
  margin: 0 auto;
  overflow: hidden;
  width: 900px;
}

#header {
  border: 2px none #999999;
  border-bottom-style: solid;
  background-color: #000;
  margin-top: 3px;
  padding: 10px 10px 3px 10px;
  height: 80px;
}

#header h2#slogan {
  font-size: 1em;
  font-style: normal;
  color: #999999;
  padding: 0;
}

#header .left {
  float: left;
}

#header .right {
  float: right;
  text-align: right;
}

#primary-nav {
  font-family: "anivers-1","anivers-2",Verdana,Arial,Helvetica,Geneva,SunSans-Regular,sans-serif;
  background-color: #000000;
  font-weight: bold;
  word-spacing: 2.5em;
  font-size: 1.3em;
  margin-top: 35px;
  text-transform: lowercase;
}

#primary-nav a:link, #primary-nav a:visited {
  color: #F3F3F3;
}

img.badge {
  float: right;
  clear: right;
  margin-bottom: 10px;
  background: white;
}

img.full {
  margin: auto;
  display: block;
}

#leftcolumn {
  width: 80%;
  padding: 5px 8px 5px 8px;
  background: #3E3E3E;
  border: 3px solid;
  border-color: #222;
}

#leftcolumn h2 {
  margin-top: .4em;
}

#content {
  margin: 5px;
  height: 100%;
}

#rightcolumn {
  float: right;
  text-align: right;
  font-size: .9em;
  padding: 2px 6px;
  background: #222;
  border: 3px solid;
  border-color: #3E3E3E;
}

#rightcolumn h3.title {
  margin-bottom: 8px;
  text-transform: lowercase;
}

#footer {
  font-size: .8em;
  clear: both;
  margin: 10px 5px 5px 5px;
  width: 80%;
}

#footer ul.menu {
  text-align: left;
  word-spacing: 1em;
}

#footer a, .copyright {
  color: white;
  font-weight: normal;
}

#footer .copyright {
  float: right;
}

/* form field properties */

fieldset {
  border: 1px solid transparent;
  border-top: 1px dashed #888888;
  padding: 20px 0 0;
}

fieldset legend {
  color: #888888;
  float: right;
}

label {
  padding: 5px 0;
}

label, input, textarea {
  display: block;
}

input[type=checkbox] {
  display: inline;
}

label span {
  color: #888888;
  font-size: 90%;
}

fieldset .fieldpair {
  padding-bottom: 10px;
}

/* Buttons */

.controls form, form.controls {
  display: inline;
}

.controls a, a.button, button {
  background-color: #f5f5f5;
  color: #565656;
  border: 1px solid #dedede;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;

  font-family: Helvetica,Verdana,SunSans-Regular,sans-serif;
  font-size: .675em;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 3px 2px 2px 3px;
  margin: 5px 1px 5px 1px;
}

button img, .controls a img, a.button img {
  margin: 0 3px -3px 0 !important;
  padding: 0;
  border: none;
  width: 16px;
  height: 16px;
}

button:hover, .controls a:hover, a.button:hover {
  background-color: #dff4ff;
  border: 1px solid #c2e1ef;
  color: #336699;
}

.controls a:active, a.button:active {
  background-color: #6299c5;
  border: 1px solid #6299c5;
  color: #fff;
}

/* Positive */

button.positive, .controls a.positive, a.button.positive {
  color: #529214;
}

.controls a.positive:hover, a.button.positive:hover, button.positive:hover {
  background-color: #E6EFC2;
  border: 1px solid #C6D880;
  color: #529214;
}

.controls a.positive:active, a.button.positive:active {
  background-color: #529214;
  border: 1px solid #529214;
  color: #fff;
}

/* Negative */

.controls a.negative, a.button.negative, button.negative {
  color: #d12f19;
}

.controls a.negative:hover, a.button.negative:hover, button.negative:hover {
  background: #fbe3e4;
  border: 1px solid #fbc2c4;
  color: #d12f19;
}

.controls a.negative:active, a.button.negative:active {
  background-color: #d12f19;
  border: 1px solid #d12f19;
  color: #fff;
}
