=render :partial => 'global/form_header_fields', :locals => {:object => game}
%fieldset 
  %legend General Options
  - percentage_slider :speed, game
%fieldset 
  %legend Technical Options
  - slider :max_line_capacity, game, {:unit => "MW", :display_name => "Maximum Line Capacity"}
  - percentage_slider :technology_cost, game
  - percentage_slider :technology_reliability, game
  - percentage_slider :power_factor, game
  - percentage_slider :wind_speed, game
  - percentage_slider :sunfall, game
  - percentage_slider :water_flow, game
  - slider :frequency, game, {:unit => "Hz"}
%fieldset 
  %legend Economic Options
  .fieldpair
    %label Regulation Type
    = enum_select :game, :regulation_type
  - slider :starting_capital, game, {:unit => "$", :prepend => true}
  - slider :reliability_constraint, game, {:unit => "n - ", :prepend => true}
  - percentage_slider :fuel_cost, game
  - percentage_slider :fuel_cost_volatility, game
  - percentage_slider :workforce_reliability, game
  - percentage_slider :workforce_cost, game
  .fieldpair
    %label
      Unionized?
      %input{:name => 'game[unionized]', :type => :checkbox, :value => game.unionized}
%fieldset 
  %legend Environmental Options
  - percentage_slider :carbon_allowance, game
  - percentage_slider :tax_credit, game
  - percentage_slider :renewable_requirement, game
  - percentage_slider :political_stability, game
  - percentage_slider :political_opposition, game
  - percentage_slider :public_support, game
%button{:type => 'submit'} Save
%a.button{:href => games_path} Cancel
