%h2 A Game

- if current_game
  - if current_game != game
    %a{:href => new_game_state_url(game)} Switch to this game
  - else
    %p
      You are playing in this game.
      %a{:href => games_url} Leave this game
- else
  %a{:href => new_game_state_url(game)} Switch to this game

%h2 States

%ul
  - @game.states.each do |state|
    %li
      %a{:href => state_url(state)}= state.name

= render :partial => 'form_fields', :locals => {:game => game}
