%h2= game.nickname

- if not current_state
  %a{:href => new_game_state_url(game)} Join this game
- elsif current_state.game != game
  %a{:href => new_game_state_url(game)} Switch to this game
- else
  %p
    You are playing in this game.
    = button_to "Leave this game", state_url(current_state.id), :method => :delete, :confirm => "Are you sure?"

%h2 States

%ul
  - game.states.each do |state|
    %li
      %a{:href => state_url(state)}= state.name

= render :partial => 'games/form_fields', :locals => {:game => game, :disabled => true}
