- title "Games"
- content_for :left_column do
  - if current_user
    Pick a game, please.

- content_for :right_column do
  - if current_user and current_user.admin
    %a{:href => new_game_url}New Game

  %ul
    = render :partial => 'games/game_list', :collection => @games, :as => :game
