%table#generator_types.sortable
  %thead
    %tr
      - @types.first.class.attr_accessible.each do |attribute|
        %th= attribute.humanize
  %tbody
    =render :partial => "technical_components/technical_component_list", :collection => @types, :as => :type
