%h3= city.name

%h4 Generators
%a{:href => new_city_generator_url(city)} New Generator
%ul
  =render :partial => "generators/generator_list", :collection => city.generators, :as => :generator

%h4 Transmission Lines
%a{:href => new_city_line_url(city)} New Transmission Line
%ul
  =render :partial => "lines/line_list", :collection => city.lines, :as => :line

%h4 Storage Devices
%a{:href => new_city_storage_device_url(city)} New Storage Device
%ul
  =render :partial => "storage_devices/storage_device_list", :collection => city.storage_devices, :as => :storage_device

%h5 Load Profile
.load-profile{:id => "#{city.id}-load-profile", :rel => city.id}
  %noscript
    %ul
      - city.load_profiles.each do |profile|
        %li= profile
