%input{:type => 'hidden', :name => '_method', :value => 'delete'}
%input{:type => 'hidden', :name => 'authenticity_token', :value => form_authenticity_token}
%button.negative{:type => 'submit'} Delete
