=render :partial => 'global/form_header_fields', :locals => {:object => @region}
%fieldset 
  .fieldpair
    %label Name
    %input{:name => 'region[name]', :value => @region.name}
  .fieldpair
    %label Research Budget
    %input{:name => 'region[research_budget]', :value => @region.research_budget}
  .fieldpair
    %label
    Map
    =collection_select :region, :map_id, Map.all, :id, :name, {:include_blank => 'Random'}
%input{:type => 'hidden', :name => 'region[game_id]', :value => @game.id}
%button{:type => 'submit'} Save
%a.button{:href => regions_path} Cancel
