%h2 Login!
= form_for @user_session, :url => authenticate_path, :html => { :method => :post, :class => "authentication_form" } do |f|
  = oauth_login_hidden_input
  = render 'users/form'
  = submit_tag "Login", :class => :submit
